*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.js1 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    z-index:10;
}
.js2 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 10;
}
.js3 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    z-index:0;
}
.js2:hover{
    mix-blend-mode: difference;
}

h2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    margin-top: 1rem;
    z-index: 0;
}
.main-grid { 
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  height:100vh;
  width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven'
    'eight'
    'nine';

    margin-inline: auto;
    /*padding-block: 2rem;
    */

}
#click1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  object-position: center;
  text-align: center;
}
#click1:hover{
  
  font-size: 150%;
}
#click2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  object-position: center;
  text-align: center;
}
#click2:hover{
  font-size: 150%;
}
#move{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  object-position: center;
  text-align: center;
  z-index: 100;
  background-color: rgba(212, 44, 218, 0);
}
#move:hover{
  color: white;
  background-color: rgba(212, 44, 218, 0.1);
  font-size: 150%;
}

.js3:hover .box{
  visibility: visible;
}
#box{
  display: flex;
  position: absolute;
  height: 200px;
  width: 100%;
  color: white;
  font-size: 120%;
  text-transform: uppercase;
  justify-content: center;
  flex-direction: column;
  object-position: center;
  text-align: center;
  z-index: 0;
}
#box:hover{
  display: flex;
  position: absolute;
  height: 30%;
  width: 100%;
  background-color: rgba(212, 44, 218, 0.1);
}

.grid {
  background-color: rgb(255, 255, 255);
  border-radius: rem;
}
.grid:nth-child(1){
    grid-area: one;
}
.grid:nth-child(2){
    grid-area: two;
}
.grid:nth-child(3){
   grid-area: three;
}
.grid:nth-child(4){
   grid-area: four;
}
.grid:nth-child(5){
   grid-area: five;
}
.grid:nth-child(6){
   grid-area: six;
}
.grid:nth-child(7){
   grid-area: seven;
}
.grid:nth-child(8){
   grid-area: eight;
}
.grid:nth-child(9){
   grid-area: nine;
}

.flex {
    display: flex;
    position: relative;
    object-position: center;
    width: 100%;
    background-color: rgb(252, 252, 252);
  }

@media (min-width:10px){
  
  .flex {
    display: flex;
    position: relative;
    object-position: center;
    height:10vh;
    width: 100%;
  }
}
@media (min-width:768px){
  .flex {
      display: flex;
      position: relative;
      object-position: center;
      height:25vh;
      width: 100%;
    }
    .main-grid{
      grid-template-areas: 
      'one one one two two'
      'three three four four four'
      'five five six seven seven' 
      'eight eight six nine nine';
    }
    .grid-6 .flex{  
        height:100%;
    }
  }
@media (min-width: 1200px){
  .main-grid{
    grid-template-areas: 
    'one one one two three three'
    'four four five six seven seven' 
    'eight eight five nine nine nine';
  }
  .flex {
      display: flex;
      position: relative;
      object-position: center;
      height:33.3vh;
    }
  .grid-5 .flex{  
      height:100%;
  }
}